---
import Link from '../Link/Link.astro'

const { text, href, rel, icon, target, title, className } = Astro.props
---

<li class="list-none flex justify-center items-center">
	<Link
		href={href}
		target={target}
		rel={rel}
		icon={icon}
		title={title}
		text={text}
		class={className}
	/>
</li>
