---
import NavLink from '../Link/NavLink.astro'

const { text, href, rel, icon, target, title } = Astro.props
---

<li class="list-none flex justify-center items-center">
	<NavLink
		href={href}
		target={target}
		rel={rel}
		icon={icon}
		title={title}
		text={text}
	/>
</li>
