---
import { getCollection } from 'astro:content'

import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'

const allPosts = await getCollection('blog', ({ data }) => {
	return data.draft !== true
})
---

<Layout title="Blog">
	<Section ariaLabel="New Blog Posts">
		<h2 class="w-full text-left text-4xl">New Blog Posts</h2>
		{
			allPosts.map(post => (
				<article class="mb-3 w-full">
					<header>
						<a
							href={`/blog/tags/${post.data.category}`}
							rel="prefetch"
							class="text-slate-500 font-bold lowercase text-xs my-3">
							#{post.data.category}
						</a>
						<h2 class="text-slate-700 font-bold text-xl">{post.data.title}</h2>
						<time datetime={post.data.date} class="font-medium text-xs">
							{new Date(post.data.date).toLocaleDateString('en-us', {
								year: 'numeric',
								month: 'long',
								day: 'numeric',
							})}
						</time>
					</header>
					<a
						href={`/blog/${post.slug}/`}
						rel="prefetch"
						class="mt-2 px-2 py-1 border-2 border-slate-400 font-medium">
						Read More
					</a>
				</article>
			))
		}
	</Section>
</Layout>
