---
import { getCollection } from 'astro:content'

import Header from '../components/Header/Header.astro'
import Container from '../components/Container.astro'
import Footer from '../components/Footer.astro'

const blogEntries = await getCollection('blog', ({ data }) => {
	return !data.isDraft && data.publishDate < new Date()
})
---

<!DOCTYPE html>
<html lang="en">
	<head></head>
	<body class="flex flex-col min-h-screen">
		<Header />
		<main class="mt-20 h-full">
			<Container>
				<section>
					{
						blogEntries.map(blogPostEntry => (
							<>
								<>
									<article class="mb-3">
										<header>
											{blogPostEntry.data.tags.map(tag => (
												<span class="text-slate-500 font-bold lowercase text-xs my-3">
													#{tag}
												</span>
											))}

											<h2 class="text-slate-700 font-bold text-xl">
												{blogPostEntry.data.title}
											</h2>
											<time
												datetime={blogPostEntry.data.publishDate}
												class="font-medium text-xs">
												{new Date(
													blogPostEntry.data.publishDate,
												).toLocaleDateString('en-us', {
													year: 'numeric',
													month: 'long',
													day: 'numeric',
												})}
											</time>
										</header>
										<p class="mb-3 text-lg truncate">
											{blogPostEntry.data.excerpt}
										</p>
										<a
											href={`/blog/${blogPostEntry.slug}`}
											rel="prefetch"
											class="mt-2 px-2 py-1 border-2 border-slate-400 font-medium">
											Read More
										</a>
									</article>
									<hr class="my-3" />
								</>
							</>
						))
					}
				</section>
			</Container>
		</main>
		<Footer />
	</body>
</html>
