---
export const prerender = true
import { getCollection } from 'astro:content'
import Layout from '../../../layouts/Layout.astro'
import Section from '../../../components/Section.astro'

export async function getStaticPaths() {
	const allPosts = await getCollection('blog')
	const uniqueTags = [
		...new Set(allPosts.map(post => post.data.category).flat()),
	]

	return uniqueTags.map(tag => {
		const filteredPosts = allPosts.filter(post =>
			post.data.category.includes(tag),
		)
		return {
			params: { tag },
			props: { posts: filteredPosts },
		}
	})
}

const { tag } = Astro.params
const { posts } = Astro.props

const filteredPosts = posts.filter(post => post.data.category.includes(tag))
---

<Layout title={`Blog | Tag ${tag}`}>
	<Section ariaLabel={`Blog Tag ${tag}`}>
		<h2 class="w-full text-left text-4xl">
			Posts tagged as: <span>{tag}</span>
		</h2>

		{
			filteredPosts.map(post => (
				<article class="mb-3 w-full">
					<header>
						<a
							href={`/blog/tags/${post.data.category}`}
							rel="prefetch"
							class="text-slate-500 font-bold lowercase text-xs my-3">
							#{post.data.category}
						</a>
						<h2 class="text-slate-700 font-bold text-xl">{post.data.title}</h2>
						<time datetime={post.data.date} class="font-medium text-xs">
							{new Date(post.data.date).toLocaleDateString('en-us', {
								year: 'numeric',
								month: 'long',
								day: 'numeric',
							})}
						</time>
					</header>
					<a
						href={`/blog/${post.slug}/`}
						rel="prefetch"
						class="mt-2 px-2 py-1 border-2 border-slate-400 font-medium">
						Read More
					</a>
				</article>
			))
		}
	</Section>
</Layout>
